.card{
  border:1px solid #ddd;
  padding:15px;
  border-radius:10px;
  width:200px;
  text-align:center;
  transition:0.3s;
}
.card img {
  width: 100%;       
  height: auto;       
  border-radius: 10px 10px 0 0; 
  display: block;     
  object-fit: cover;  
}
.card:hover{
  transform:scale(1.05);
  box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

button{
  background:#7a4e2d;
  color:white;
  border:none;
  padding:8px 12px;
  border-radius:6px;
  cursor:pointer;
}

input{
  padding:8px;
  border:1px solid #ccc;
  border-radius:6px;
}
